---
import AstroIcon from "./technologies/Astro.astro";
import React from "./technologies/React.astro";
import Typescript from "./technologies/Typescript.astro";
import Tailwind from "./technologies/Tailwind.astro";
import Graphql from "./technologies/Graphql.astro";
import Nextjs from "./technologies/Nextjs.astro";

type Technology =
  | "Astro"
  | "Next.js"
  | "React"
  | "Tailwind CSS"
  | "TypeScript"
  | "GraphQL";

interface Props {
  name: string;
  image: string;
  contribution: string;
  web?: string;
  github?: string;
  technologies: Technology[];
}

const technologiesIcons: Record<Technology, any> = {
  Astro: AstroIcon,
  "Next.js": Nextjs,
  React: React,
  "Tailwind CSS": Tailwind,
  TypeScript: Typescript,
  GraphQL: Graphql,
};

const { name, image, contribution, web, github, technologies } = Astro.props;
---

<article class="mb-8 ml-8 rounded-lg border border-gray-700">
  <img
    src={image}
    alt={name}
    class="aspect-[16/10] w-72 max-w-full border-b border-gray-700 object-contain px-8"
  />
  <div class="p-4">
    <h2 class="mb-2 text-2xl">{name}</h2>
    <ul class="mb-4 flex items-center space-x-6 text-sm">
      <li class="text-emerald-400">{contribution}</li>
      {
        web && (
          <li class="relative text-gray-400 underline before:absolute before:-left-3 before:top-1/2 before:size-2 before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-gray-700 before:content-['']">
            <a href={web} target="_blank">
              Web
            </a>
          </li>
        )
      }
      {
        github && (
          <li class="relative text-gray-400 underline before:absolute before:-left-3 before:top-1/2 before:size-2 before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-gray-700 before:content-['']">
            <a href={github} target="_blank">
              Github
            </a>
          </li>
        )
      }
    </ul>
    <ul class="flex space-x-2">
      {
        technologies.map((technology) => {
          const Icon = technologiesIcons[technology];
          return <Icon />;
        })
      }
    </ul>
  </div>
</article>
