---
import Section from "../components/Section.astro";
import ExperienceCard from "../components/Experience.astro";
import { useLoc } from "../scripts/useLoc";

const locTable = {
  cs: {
    experience: "Praxe",
     1: {
      title: "Programátor, ERASMUS+",
      span: "06/2025 - 09/2025",
      description:
        "• Programování WhatsApp AI chatbota pro realitní kancelář\n• Použití ChatGPT API a Cloudflare Workers\n• Úpravy firemních stránek pomocí HTML, CSS a JavaScriptu",
    },
    2: {
      title: "Next.js developer",
      span: "09/2022 - 06/2025",
      description:
        "• Vývoj nového firemního e-shopu drip-eco.com\n• Práce s Next.Js, React.Js, TailwindCSS, Typescript a GraphQL\n• Propojení e-shopu s CMS ",
    },
    3: {
      title: "Studentská stáž",
      span: "09/2024 - 02/2025",
      description:
        "• Vytvoření rozhraní API pomocí C# ASP.NET\n• Práce s EFC\n• Jednou za dva týdny",
    },
    4: {
      title: "Web Developer, ERASMUS+",
      span: "05/2023",
      description:
        "• Vývoj systému pro rezervaci bytů.\n• Práce s dalším Erasmus+ stážistou\n• Implementace backendové logiky pomocí PHP a MySQL\n• Vytváření tabulkových zobrazení, editačních a vytvářecích formulářů pro byty, klienty a rezervace\n• Použití HTML, CSS, JavaScript, TailwindCSS a React.Js",
    },
  },
  en: {
    experience: "Experience",
    1: {
      title: "Programmer, ERASMUS+",
      span: "06/2025 - 09/2025",
      description:
        "• Programming a WhatsApp AI chatbot for a real estate agency\n• Using ChatGPT API and Cloudflare Workers\n• Modifying company website using HTML, CSS and JavaScript",
    },
    2: {
      title: "Next.js developer",
      span: "09/2022 - 06/2025",
      description:
        "• Development of new company e-shop drip-eco.com\n• Working with Next.Js, React.Js, TailwindCSS, Typescript and GraphQL\n• Connecting the e-shop to a CMS",
    },
    3: {
      title: "Student Intern",
      span: "09/2024 - 02/2025",
      description:
        "• Creation of an API using C# ASP.NET\n• Working with EFC\n• Once every two weeks",
    },
    4: {
      title: "Web Developer, ERASMUS+",
      span: "05/2023",
      description:
        "• Development of a flat reservation system.\n• Working with another Erasmus+ intern\n• Implementing backend logic using PHP and MySQL\n• Creating table views, edit and create forms for flats, clients and reservations\n• Using HTML, CSS, JavaScript, TailwindCSS and React.Js",
    },
  },
};

const pathname = Astro.url.pathname;
const loc = useLoc(pathname, locTable);
---

<Section id="experience" title={loc.experience}>
  <ExperienceCard
    title={loc[1].title}
    company="Futura Propiedades"
    span={loc[1].span}
    description={loc[1].description}
  />
  <ExperienceCard
    title={loc[2].title}
    company="Studentský DRIP, z.s."
    span={loc[2].span}
    description={loc[2].description}
  />
  <ExperienceCard
    title={loc[3].title}
    company="ITIXO"
    span={loc[3].span}
    description={loc[3].description}
  />
  <ExperienceCard
    title={loc[4].title}
    company="Campus Idiomático"
    span={loc[4].span}
    description={loc[4].description}
  />
</Section>
